{% load bootstrap3 %}
<html>
<head>
  <title>
    Movies
  </title>
</head>

<body>
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">All Movies</a>
      </div>
  </nav>

  {% block content %}

  {% for movie in movie_list %}
  <TR>
    <TD BGCOLOR="#FFFFFF">
      <TABLE BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
        <TR><TD COLSPAN="2" BGCOLOR="#000000" WIDTH="100%" HEIGHT="1"></TD></TR>
        <TR><TD COLSPAN="2" WIDTH="100%" HEIGHT="5"></TD></TR>
        <TR>
          <!-- Cover Image (left) -->
          <TD WIDTH="170" ALIGN="CENTER" VALIGN="TOP">
            <TABLE BORDER="0" WIDTH="160" CELLSPACING="0" CELLPADDING="0">
              <TD WIDTH="160"><IMG SRC={{movie.thumbnail}} WIDTH="160"></TD>
            </TR>
          </TABLE>
        </TD>
        <!-- End of Cover Image -->
        <!-- Movie Details (right) -->
        <TD WIDTH="610" ALIGN="LEFT" VALIGN="TOP">
          <TABLE BORDER="0" WIDTH="100%" CELLSPACING="8" CELLPADDING="0">
            <TR><TD class="headingfont" COLSPAN="2" WIDTH="100%" BGCOLOR="#E0E0FF"><B>&nbsp;&nbsp;{{movie.title}} </B></TD></TR>
            <TR><TD COLSPAN="2" WIDTH="100%" BGCOLOR="#000000" HEIGHT="1"></TD></TR>
            <TR>
              <TD WIDTH="45%" ALIGN="LEFT" VALIGN="TOP">
                <TABLE class="smallfont" BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
                  <TR><TD WIDTH="30%">Year:</TD><TD><B>{{movie.year}}</B></TD></TR>
                  <TR><TD WIDTH="30%">Critics Score:</TD><TD><B>{{movie.critics_score}}</B></TD></TR>
                  <TR><TD WIDTH="30%">Audience Score:</TD><TD><B>{{movie.audience_score}}</B></TD></TR>
                </TABLE>
              </TD>
              <TD WIDTH="55%" ALIGN="LEFT" VALIGN="TOP">
                <TABLE class="smallfont" BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
                  <TR><TD WIDTH="30%">Duration:</TD><TD><B>{{movie.runtime}} Minutes</B></TD></TR>
                </TABLE>
              </TD>
            </TR>
            <TR><TD COLSPAN="2" WIDTH="100%" BGCOLOR="#000000" HEIGHT="1"></TD></TR>
            <TR><TD COLSPAN="2" WIDTH="100%" BGCOLOR="#000000" HEIGHT="1"></TD></TR>
            <TR>
              <TD class="bigfont" COLSPAN="2" WIDTH="100%">
                <B>Synopsis:</B><BR>  
                {{movie.synopsis}}
              </TD>
            </TR>
          </TABLE>
        </TD>
        <!-- End of Movie Details -->
      </TR>
      <TR><TD COLSPAN="2" WIDTH="100%" HEIGHT="5"></TD></TR>
      <TR><TD COLSPAN="2" BGCOLOR="#000000" WIDTH="100%" HEIGHT="1"></TD></TR>
    </TABLE>
  </TD>
</TR>
<!-- One Movie Ends -->

{% endfor %}

{% endblock %}
</body>
</html>
